*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    min-width: 320px;
}
header{
    width: 100%;
    height: auto;
    background-color:brown;
    padding: 20px
}
header .header-container{
    height: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: gold;

}
main{
    width: 100%;
}
main .main-container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    gap: 20px;

}
main section{
    height: 300px;
    background-color:cadetblue
}
footer{
    width: 100%;
    height: 120px;
    background-color:crimson;
}
@media(max-width:720px){
    main{
        padding: 30px 0 30px 0;
    }
    main section{
    width: 80%;
    margin: 0 auto;
    }
}
@media (min-width: 720px){

    main{
        height: 65vh;
    }
    main .main-container{
        height: inherit;
        align-items: center;
        justify-items: center;
    }
    main section{
        width: 80%;
        height: 80%;
        
    }
    footer{
        height: 15vh;
    }
}
@media (min-width: 880px){
    header{
        height: 20vh;
    }
    header .header-container{
        height: 100px;
        grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    }
    .grid-1,.grid-2,.grid-3{
        grid-row-start: 1;
        grid-row-end: 4;
    }
}