*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body{
    /* background-color: #fed439; */
    font-family: 'Noto Sans JP', sans-serif;
}

header{
    background-color: #000000;
    width: 100vw;
    height: 15vh;
    display: flex;
    border: 0.5px solid  #29240E;    
}

header h1{
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 50vw;
}




header nav{
    display: flex;
    width: 50vw;
    
}
header nav .nav-options {
    display: inherit;
    list-style: none;
    justify-content: right; 
    align-items: center; 
    width: inherit;
    margin-right: 10%;
}

header nav .nav-options a{
    color: white;
    margin: 15px;   
    font-size: 20px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;

}


main{
    background-color: #FBD200;
    height: 85vh;
    display: flex;
}
main section{
    border: 1px solid black;
    height: 60vh;
    width:40vw;
    display: inherit;
    margin: 40px;
    
}
h2{
    color: #EE3E3C;
    
}
