
header{
    height: 330px;
}
.header--title-container h1{
    font-size: 2.6rem;
}
.header--title-container p{
    font-size: 1.6rem;
}
header img{
    margin-top: 20px;
}

main .main-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}